body {
  background-color: cornsilk;
}

.calculator {
  gap: 5px;
  border-radius: 25px;
  margin: 25% 0;
  background-color: #2f4f4f;
}

button {
  width: 42px;
  padding: 5px;
  margin: 4px;
  font-size: x-large;
  height: 41px;
  color: white;
  border: cadetblue;
  background-color: cadetblue;
  border-radius: 50%;
  box-shadow: #4c9da05e 1px 3px;
}

div {
  display: flex;
  margin: 15px;
  gap: 15px;
}

input {
  width: 410%;
  background-color: cadetblue;
  color: white;
  height: 100px;
  margin: 2px;
  border: solid cadetblue 1px;
  text-align: right;
  font-size: xx-large;
  border-radius: 5%;
  box-shadow: #4c9da05e 1px 3px;
}

.ope {
  background-color: darkgray;
}

.ope1 {
  background-color: cornflowerblue;
}

@media (min-width: 768px) {
  .calculator {
    width: 30%;
    border-radius: 20px;
    height: 565px;
    margin: 6% 0 0 35%;
  }

  button {
    height: 70px;
    width: 70%;
  }

  div {
    margin: 10px;
  }
}
