body {
  background-color: #1c1c1c;
}

.cal {
  background-color: #1c1c1c;
  display: flex;
  height: 100vh;
  align-items: center;
}

.cal1 input {
  height: auto;
  width: 100%;
  text-align: right;
  padding-bottom: 1px;
  padding-top: 80px;
  font-size: 50px;
  color: white;
  background-color: transparent;
  border: transparent;
  margin-bottom: 25px;
  margin-top: 15px;
  border-radius: 5px;
}

.ope {
  background-color: #d4d4d2;
  color: black;
}

.ope1 {
  background-color: #ff9500;
}

button {
  background-color: #505050;
  color: white;
  width: 85px;
  border-radius: 50%;
  height: 85px;
  border: transparent;
  font-size: xx-large;
  font-family: fantasy;
}

.buttons {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  gap: 15px;
}

@media (min-width: 768px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: black;
  }

  .cal {
    margin-top: 34px;
    justify-content: center;
    height: 100vh;
    border-radius: 25px;
    width: 500px;
  }

  .cal1 input {
    width: 90%;
    padding-top: 1px;
  }

  .calculator {
    margin-left: 30px;
  }

}
